---
title: Blog
description: 관심 분야의 글을 올리는 곳입니다.
permalink: blog
visible: true
---

<div class="hyde posts">
  {% for post in site.posts %}
  <div class="hyde post{% unless forloop.last %} divider {% endunless %}">
    <div class="hyde post-info">
      {% assign author = site.data.authors | where: 'name', post.author | first %} {% if author.image %}
      <img src="{{ author.image }}" />
      {% endif %}
      <span class="hyde post-author">{% if author.name %}{{ author.name }}{% else %}unknown{% endif %}</span>
    </div>
    <a href="{{ post.url }}">
      <h2 class="hyde post-title">{{ post.title }}</h2>
    </a>
    <p class="hyde post-preview">{{ post.content | truncate: 200 | strip_html }}</p>
    <div class="hyde post-trail">
      <span class="hyde post-date">{{ post.date | date: '%Y년 %-m월 %-d일' }}</span>
    </div>
  </div>
  {% else %}
  <div class="hyde empty">
    <img src="/assets/images/404.png" />
    <p>게시물이 없습니다.</p>
  </div>
  {% endfor %}
</div>
