---
title: Portfolio
description: 지금까지 작업했던 디자인을 모아놓은 곳입니다.
permalink: portfolio
visible: true
---

{% if site.data.portfolio %}
<div class="hyde portfolio row">
  {% for item in site.data.portfolio reversed %} {% assign identifier = item.image | split: "." | first %}
  <div class="hyde portfolio-item-wrapper col-lg-4 col-md-6 col-sm-12">
    <div class="hyde portfolio-item">
      <a href="#{{ identifier }}">
        <div class="hyde thumbnail" style="background-image: url('/assets/images/portfolio/{{ item.image }}');"></div>
        <div class="hyde portfolio-overlay">
          <h3>{{ item.title }}</h3>
          <span>{{ item.description }}</span>
        </div>
      </a>
    </div>
  </div>
  <div id="{{ identifier }}" class="hyde lightbox" onclick="history.back()">
    <img src="/assets/images/portfolio/{{ item.image }}" alt="{{ item.image | split: '.' | first }}" onclick="event.stopPropagation()" />
  </div>
  {% endfor %}
</div>
{% else %}
<div class="hyde empty">
  <img src="/assets/images/waldo.png" alt="not_found" />
  <p>게시물이 없습니다.</p>
</div>
{% endif %}
