<footer class="hyde footer-wrapper">
  <div class="hyde container">
    <div class="hyde footer">
      <div class="hyde footer-left">
        <ul class="hyde footer-menu links">
          {% assign pages = site.pages | sort:'url' %} {% for p in pages %} {% if p.visible == true %}
          <li>
            <a href="{{ p.url }}">{{ p.title }}</a>
          </li>
          {% endif %} {% endfor %}
        </ul>
        <p class="text">&copy; {{ site.time | date: '%Y' }} ChemistryX</p>
      </div>
      <div class="hyde footer-right">
        <ul class="hyde footer-menu social">
          <li>
            <a href="https://github.com/{{ site.github }}"><i class="fab fa-github"></i></a>
          </li>
          <li>
            <a href="mailto:{{ site.email }}"><i class="fas fa-envelope"></i></a>
          </li>
        </ul>
        <p class="text">
          Made with <a href="https://github.com/ChemistryX/hyde"><i class="fas fa-meteor"></i> Hyde</a>
        </p>
      </div>
    </div>
  </div>
</footer>
