<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="chemistryx,blog,portfolio,frontend,ui/ux, design" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="ChemistryX" />

  <meta property="og:type" content="website" />
  <meta property="og:description" content='{% if page.url == "/" %}{{ site.description }}{% else %}{{ page.description }}{% endif %}' />
  <meta property="og:image" content="/assets/images/bg.png" />
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
  <link rel="stylesheet" href="/assets/css/hyde.css" />
  <script src="https://kit.fontawesome.com/e9e8beb1d5.js" crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>

  <title>{{ page.title }}{% unless page.url == "/" %} | {% endunless %} ChemistryX</title>
</head>
