<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="{{ site.title }},blog,portfolio" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="{{ site.title }}" />
  <meta name="theme-color" content="#4568f0" /> <!-- Edit this -->
  <meta name="msapplication-TileColor" content="#ffffff" /> <!-- Edit this -->

  <meta property="og:type" content="website" />
  <meta
    property="og:title"
    content="{% unless page.url == '/' %}{% if page.layout == 'tag' %}#{% endif %}{{ page.title }} | {% endunless %} {{ site.title }}"
  />
  <meta property="og:description" content='{% if page.url == "/" %}{{ site.description }}{% else %}{{ page.description }}{% endif %}' />
  <meta property="og:image" content="{{ site.baseurl }}/assets/images/projects/demo.jpg" /> <!-- Edit this -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/images/apple-touch-icon.png" /> <!-- Edit this -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon-32x32.png" /> <!-- Edit this -->
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon-16x16.png" /> <!-- Edit this -->
  <link rel="manifest" href="{{ site.baseurl }}/assets/images/site.webmanifest" /> 
  <link rel="mask-icon" href="{{ site.baseurl }}/assets/images/safari-pinned-tab.svg" color="#4568f0" /> <!-- Edit this -->
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-4-grid@3.3.0/css/grid.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/hyde.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/monokai.css" />
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "{{ site.google_analytics }}");
  </script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"
  ></script>
  <script src="https://kit.fontawesome.com/e9e8beb1d5.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/hyde.js"></script>
  <title>{% unless page.url == "/" %}{% if page.layout == "tag" %}#{% endif %}{{ page.title }} | {% endunless %} {{ site.title }}</title>
</head>
