<header class="hyde header">
  <nav class="hyde navbar-parent">
    {% assign pages = site.pages | sort:'url' %}
    <div class="hyde mobile-nav-wrapper">
      <div class="hyde container">
        <ul class="hyde mobile-nav">
          <div class="hyde mobile-nav-row">
            <a class="hyde mobile-nav-item logo" href="/">ChemistryX</a>
            <a class="hyde mobile-nav-item close-btn"><i class="fas fa-times"></i></a>
          </div>
          {% for p in pages %} {% if p.visible == true %} {% assign url = page.url | split: '/' %}
          <a class="hyde mobile-nav-item{% if p.url contains url[1] %} active {% endif %}" href="{{ p.url }}">{{ p.title }}</a>
          {% endif %} {% endfor %}
        </ul>
      </div>
    </div>
    <div class="hyde container">
      <ul class="hyde navbar">
        <li class="hyde nav-item">
          <a class="hyde nav-logo" href="/">ChemistryX</a>
        </li>
        <li class="hyde nav-toggler">
          <a class="hyde nav-toggle-btn"><i class="fas fa-bars"></i></a>
        </li>
        {% for p in pages %} {% if p.visible == true %} {% assign url = page.url | split: '/' %}
        <li class="hyde nav-item{% if p.url contains url[1] %} active {% endif %}">
          <a href="{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </nav>
</header>
