// Button

.hyde.btn {
  border-radius: 9px;
  padding: 1rem 1.25rem;
  display: inline-block;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.1px;
  transition: background-color 0.5s ease;
  background-color: transparent;
  margin-bottom: 1rem;
  cursor: pointer;
}

.hyde.btn-primary {
  color: $primary;
  border: 2px solid $primary;

  &:hover {
    color: white;
    background-color: $primary;
  }
}

.hyde.btn-secondary {
	color: $secondary;
	border: 2px solid $secondary;

	&:hover {
		color: white;
		background-color: $secondary;
	}
}

.hyde.btn-light {
  color: white;
  border: 2px solid white;

  &:hover {
    color: $dark;
    background-color: white;
  }
}

.hyde.btn-default {
	color: $dark;
	border: 2px solid $dark;

	&:hover {
		color: white;
		background-color: $dark;
	}
}

.hyde.btn-group {
  text-align: center;
}
