// Footer

.hyde.footer-wrapper {
  color: white;
  background: linear-gradient(45deg, $dark200 45%, $dark300 100%);
  padding: 4rem 0;

  .hyde.footer {
    display: flex;
    justify-content: space-between;

    .hyde.footer-left {
      flex: 1 0;
      text-align: left;
    }

    .hyde.footer-right {
      flex: 1 0;
      text-align: right;
      place-self: flex-end;
    }

    .hyde.footer-menu {
      padding: 0;

      li {
        display: inline-block;
        list-style: none;

        a {
          color: white;
          text-transform: uppercase;
          font-weight: 900;
        }
      }

      &.links {
        li {
          margin: 0 1rem 0.5rem 0;

          a {
            font-size: 0.8rem;
            transition: color 0.5s ease;

            &:hover {
              color: $gray;
            }
          }
        }
      }

      &.social {
        a {
          display: inline-block;
          width: 35px;
          height: 35px;
          background-color: $dark400;
          border-radius: 9px;
          line-height: 38px;
          margin-left: 14px;
          text-align: center;
          font-size: 18px;
          transition: color 0.5s ease, background-color 0.5s ease;

          &:hover {
            color: $dark;
            background-color: white;
          }
        }
      }
    }

    .text {
      font-size: 0.75rem;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 0.3px;
      color: $gray;

      @media (max-width: $small) {
        font-size: 0.7rem;
      }

      a {
        color: $gray300;
        line-height: initial;

        .fa-meteor {
          transition: color 0.5s ease;

          &:hover {
            color: $red;
          }
        }
      }
    }
  }
}
