// Navbar

.hyde.navbar-parent {
  transition: background-color 0.2s ease, color 0.2s ease;

  &.hyde.navbar-bg {
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(3px);
    box-shadow: 0px 0px 10px -7.5px rgba(0, 0, 0, 0.7);
    a {
      color: $dark !important;
    }

    .hyde.nav-item {
      &:before,
      &:after {
        background-color: $dark !important;
      }

      &:not(:first-child):hover,
      &.active {
        a {
          color: white !important;
        }
      }
    }
  }

  .hyde.navbar {
    list-style: none;
    display: flex;
    padding: 2.25rem 0;
    margin: 0;

    .hyde.nav-toggler {
      font-size: 1.75rem;
      display: none;

      a {
        color: white;
        cursor: pointer;
        transition: color 0.5s ease;

        &:hover {
          color: $gray300;
        }
      }

      @media (max-width: $medium) {
        display: block;
      }
    }

    .hyde.nav-item {
      font-weight: 900;
      text-transform: uppercase;
      display: flex;
      position: relative;
      z-index: 1;
      align-items: center;
      padding: 0 10px;
      margin: 0 10px;

      &:first-child {
        margin: 0 auto 0 0;
        padding: 0;

        @media (max-width: $medium) {
          padding: 0;
          font-size: 1.25rem;
        }

        a {
          padding: 0;
        }
      }

      &:not(:first-child) {
        @media (max-width: $medium) {
          display: none;
        }
      }

      &:before {
        content: " ";
        position: absolute;
        height: 60%;
        width: 0;
        background-color: white;
        left: 0;
        z-index: -1;
        top: -3px;
        transition: width 0.4s ease;
        border-radius: 7px 7px 0 0;
      }

      &:after {
        content: " ";
        position: absolute;
        height: 60%;
        width: 0;
        background-color: white;
        left: 0;
        z-index: -1;
        bottom: 0;
        transition: width 0.4s ease;
        border-radius: 0 0 7px 7px;
      }

      &:not(:first-child):hover::before,
      &:not(:first-child):hover::after,
      &:not(:first-child).active::before,
      &:not(:first-child).active::after {
        width: 100%;
      }

      &:not(:first-child):hover,
      &:not(:first-child).active {
        a {
          color: $dark;
        }
      }

      a {
        color: white;
        padding: 1px 5px;
        transition: color 0.5s ease;
      }
    }
  }

  .hyde.mobile-nav-wrapper {
    background: linear-gradient(45deg, $dark200 45%, $dark300 100%);
    position: absolute;
    width: 100%;
    height: 100vh;
    font-weight: 900;
    text-transform: uppercase;
    display: none;
    z-index: 999;

    .hyde.mobile-nav {
      margin: 0;
      padding: 2.25rem 0;
      list-style: none;
      display: flex;
      flex-direction: column;

      .hyde.mobile-nav-row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;

        .logo {
          padding: 0;
          margin-top: 5px;
        }

        .close-btn {
          padding: 0;
          font-size: 2rem;
          cursor: pointer;

          &:hover {
            color: $gray300;
          }
        }
      }

      .hyde.mobile-nav-item {
        font-size: 1.25rem;
        padding: 2rem 1rem;
        color: white !important;
        border-radius: 9px;
        transition: color 0.5s ease, background-color 0.5s ease;

        &:not(.close-btn):hover,
        &:not(.close-btn).active {
          background-color: white;
          color: $dark !important;
        }
      }
    }
  }
}
