// Typography

// Pretendard
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

// Mont
@font-face {
  font-family: "Mont";
  font-style: normal;
  font-weight: 200;
  src: local("Mont ExtraLight"), local("Mont-ExtraLight"), url(../fonts/mont/eot/Mont-ExtraLight.eot),
    url(../fonts/mont/eot/Mont-ExtraLight.eot?#iefix) format("embedded-opentype"),
    url(../fonts/mont/woff/Mont-ExtraLight.woff) format("woff"),
    url(../fonts/mont/woff/Mont-ExtraLight.woff2) format("woff2");
}

@font-face {
  font-family: "Mont";
  font-style: normal;
  font-weight: 700;
  src: local("Mont Heavy"), local("Mont-Heavy"), url(../fonts/mont/eot/Mont-Heavy.eot),
    url(../fonts/mont/eot/Mont-Heavy.eot?#iefix) format("embedded-opentype"),
    url(../fonts/mont/woff/Mont-Heavy.woff) format("woff"), url(../fonts/mont/woff/Mont-Heavy.woff2) format("woff2");
}
