// Variables

// Typography
$font-family: Mont, Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;

// Colors
$black: #1c1c33;
$black200: #38384d;
$black300: #515163;
$gray: #aaaab3;
$gray200: #bfbfc6;
$gray300: #d4d4d9;
$gray400: #eaeaec;
$gray450: #f4f4f5;
$gray500: #fafafa;
$primary: #724CF9;
$red: #f04568;
$secondary: #CA7DF9;

// Responsive
$large: 1024px;
$medium: 896px;
$small: 768px;
$extra-small: 576px;
