// Variables

// Typography
$font-family: "Mont", "Noto Sans Korean", "Malgun Gothic", "맑은 고딕", "Helvetica Neue", sans-serif;

// Colors
$black: #1c1c33;
$black200: #38384d;
$black300: #515163;
$gray: #aaaab3;
$gray200: #bfbfc6;
$gray300: #d4d4d9;
$gray400: #eaeaec;
$gray450: #f4f4f5;
$gray500: #fafafa;
$blue: #4568f0;
$red: #f04568;
$purple: #7845f0;

// Responsive
$large: 1024px;
$medium: 896px;
$small: 768px;
$extra-small: 576px;
