<!DOCTYPE html>
<html lang="ko">
  {% include head.html %}
  <body>
    {% include navbar.html %}
    <section class="hyde main">
      {% unless page.url == "/" %} {% include header.html %}
      <div class="hyde container">
        {% if page.url == "/about" %}
        <div class="hyde content">
          {{ content }}
        </div>
        {% else %} {{ content }} {% endif %}
      </div>
      {% else %} {{ content }} {% endunless %}
    </section>
    {% include footer.html %}
  </body>
</html>
